*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;}
/*----------------------------------- nav section---------------------------------------------- */

.nav{
    width:100%;
height: 1322px;
left: 0px;
top: 0px;

background: rgba(255, 144, 14, 0.1);
    

}

.navigation{
        display: flex;
        justify-content: space-between;
   
    }

.nav-title{
margin-top: 50px;
margin-left: 228px;
font-weight: 700;
font-size: 45px;

}

.nav-list{
    list-style-type:none;
    display: flex;
    justify-content: space-around;
    gap: 5px;
    font-weight: 500;
    color: #424242;
    font-size: 18px;
    margin-top: 63px;
    margin-right: 240px;
    width: 477px;
    height: 26px;
    /* margin-left: 1203px; */


}

/* -------------------------------complete my nav bar------------------------------------------ */

.brand{
   margin-top: 205px;
   margin-left: 529px;
   margin-right: 529;
   width: 862px;
   height: 225px;
   text-align: center;
}

.brand-title{
    font-weight: 700;
    font-size: 64px;
    /* line-height: 75px; */
    text-align: r;
}

.brand-details{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/* .brand{
    border-radius: ;
} */

.button button{
    background: #FF900E;
    border-radius: 8px;
    padding: 21px 24px 2px 21px; ;
    color: #FFFFFF;
    border: none;
    margin-left: 870px;
    margin-right: 870px;

}

.banner{
    width: 1440px;
    height: 700px;
    border-radius: 8px;
    margin-top: 55px;
    margin-left: 240px;
    margin-right: 240px;

}
/* ------------------------------------complete banner and nav ------------------------------------- */
.features{
    display: flex;
    gap: 100px;
}
.features-text{
    width: 537px;
    height: 304px;
   margin-top: 350px;
}



.image4{
    display:grid;
    grid-template-columns:repeat(2,0fr);
    gap: 24px;
    margin-left: 301px;
    margin-top: 130px;
}
.image4-title{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}

.features-details{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}
.yellow{
    color: #FF900E;
}
.btn-explore{
    padding:21px 24px 20px 25px ;
    color: #FFFFFF;
    background: #FF900E;
    border: none;
    width: 180px;
    height: 64px;
    border-radius: 8px;
    margin-top: 32px;
    

}

.quick{
    color:#727272;
}

/* complete section 2 or top  middle section */

.all-features{
    display: flex;
    width: 1440px;
    height: 1059px;
    margin-left: 200px;
    margin-top: 130px;
}

.div-1 h1{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    border-left: 3px solid rgb(209, 108, 6);
    margin-left: 21p;
}

.all-features-details p{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.all-feature-details-without1{
   margin-top: 50px;
}
.detail-1{
    margin-bottom: 30px;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    width: 586px;
    height: 150px;
    
    
}
.detail-2{
    margin-bottom: 50px;
    padding: 30px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    width: 586px;
    height: 150px;
    
}
.detail-3{
    margin-bottom: 50px;
    padding: 30px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    width: 586px;
    height: 150px;
    
}
.detail-4{
    /* margin-bottom: 50px; */
    padding: 30px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    width: 586px;
    height: 150px;
    
}

.btn-on-img{
padding: 46px 47px 45px 47px;
background: #FF900E;
border-radius: 8px;
width: 342px;
height: 200px;
color: #FFFFFF;
font-weight: 700;
font-size: 65px;
border: none;
position: relative;
bottom: 120px;
right: 80px;
}
.experience{
    font-size: 30px;
}

/* last section-------------------------------------------------- */
.facts-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-left: 240px;
    margin-bottom: 24px;
    margin-top: 85px;
}

.facts-title-text{
    font-weight: 400;
    font-size: 16px; 
    color: #727272;
    margin-left: 240px;
    width: 542px;
    height: 52px;
}
.box-card{
    display: flex;
    justify-content: space-around;
    /* margin-right: 290px; */
    margin-left: 200px;
    margin-top:100px ;
    width: 1440px;
    height: 450px;
    text-align: center;
    
}
.box-1{
border: 1px solid #FF900E;
border-radius: 8px;
width: 169px;
height: 136px;
padding: 60px 35px 60px 35px;
transition: width 1s, height 1s, transform 1s;

}
.box-1:hover{
   transform: rotate(-45deg);
}
.box-2:hover{
    transform: rotate(45deg);
 }
 .box-3:hover{
    transform: rotate(-45deg);
 }
 .box-4:hover{
    transform: rotate(45deg);
 }
   
.box-2{
    border: 1px solid #FF900E;
border-radius: 8px;
width: 169px;
height: 136px;
padding: 60px 35px 60px 35px;
transition: width 1s, height 1s, transform 1s;
}
.box-3{
    border: 1px solid #FF900E;
border-radius: 8px;
width: 169px;
height: 136px;
padding: 60px 35px 60px 35px;
transition: width 1s, height 1s, transform 1s;
}
.box-4{
    border: 1px solid #FF900E;
border-radius: 8px;
width: 169px;
height: 136px;
padding: 60px 35px 60px 35px;
transition: width 1s, height 1s, transform 1s;
}
.box-card h1{
font-weight: 600;
font-size: 45px;
}
.box-card p{
font-weight: 600;
font-size: 20px;
color: #727272;
margin-top: 30px;
}

.sponspors{
    text-align: center;
}

.sponspors h1{
    /* font-weight: 700; */
    font-size: 45px;
    color: #131313;
    /* text-align: center; */
    margin-bottom: 30px;
    /* margin-right: 2300px; */

    
}
.sponspors p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    /* text-align: center; */
    width: 542px;
    margin-left: 600px;



}

.sponspors-img{
    display: flex;
    justify-content: space-evenly;
    margin-top: 44px;
    width: 1600px;
    height: 100px;
    filter: grayscale(100%);
    height: 50px;

    
   
}
 /*------------------------ footerrr------------------------- */
 .my-section{
    margin-top: 100px;
    width: 800px;
    margin-left: 500px;
    text-align: center;
    background-color: #FFF4E7;
    border-radius: 16px;
    padding: 30px;
    
 }

 .my-section button{
    padding: 25px 50px;
    background-color: darkgray;
    border-radius: 18px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
    
 }
 .form{
    size: 40px;
 }


 footer{
   
    margin-top: 130px;
    margin-left: 240px;
    margin-bottom: 218px;
    text-align: center;
    background: #FFF4E7;
    border-radius: 8px;
    width: 1440px;
    height: 100px;
 
    color: #424242;
    font-weight: 200;
    font-size: 15px;
    padding-top: 40px;
 }


 /* ------------------------meadia quire section ---------------------------------------------------*/


 @media screen and (max-width: 576px) {
           
    .nav{
        width: 100%;
        
    }
    
    .navigation{
        width: 375px;
        flex-direction: column;
            display: flex}
    
      .nav-title{
        margin-left: 5px;
        margin-bottom: 20px;
      } 



     .nav-list{
        margin-left: 40px;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 30px;
        width: 100%;
        margin-right: 5px;
     }
       
     .nav-list ul{
        width: 80%;
        margin-left: 5px;
     }
     .brand{
        width: 300px;
        margin-left: 5px;
        /* margin-top: 60px; */
     }
      .brand-title{ 
         margin-left: 5px;
         width: 300px;
         margin-bottom: 30px;
         
      } 

      .banner{
        height: 350px;
        width: 80%;
        margin-bottom: 50px;
       margin-left: 5px;
       margin-top: 80px;
       background-color: rgb(153, 51, 59);
       position: absolute;
       margin-right: 0px;
       margin-left: 20px;

      }
      
                                          
    .features{
        flex-direction: column;
        width: 100%;
    }
    
    .image4{
        display:grid;
        grid-template-columns:repeat(1,0fr);
        margin-left: 10px;
        margin-top: 0px;
    }
    
    .features-text{
        margin-top: 15px;
        width: 100%;
        margin-left: 5px;
    }
    
    .all-features{
        margin-left: 5px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .div-1{
        margin-left: 5px;
        width: 370px;
        border: none;
    }
    .detail-1{
        width: 350px;
        margin-left: 3px;
        padding: 5px;
      
    }
    
    .detail-2{
        width: 350px;
        margin-left: 3px;
        padding: 5px;
    }

    .detail-3{
        width: 350px;
        margin-left: 3px;
        padding: 5px;
    }

    .detail-4{
        width: 350px;
        margin-left: 3px;
        padding: 5px;
    }
    .architect-image img{
     
        height: 500px ;
        
    }

    .facts-title{
       
        margin-left: 5px;
        width: 100%;
        margin-top: 600px;
    }
    .facts-title-text{
        margin-left: 5px;
        width: 100%;
    }
    .box-card{
        flex-direction: column;
        margin-left: 70px;
        margin-top: 400px;
        width: 100%;
        gap: 50px;
    }
    
    .sponspors{
        margin-left: 5px;
        width: 100%;
        margin-top: 400px;
    }


    .sponspors p{
        margin-left: 5px;
        width: 100%;
       
    }

    .sponspors-img{
        flex-direction: column;
        width: 50%;
        gap: 50px;
        margin-top: 250px;
        margin-left: 80px;
    }

    .my-section{
        width: 80%;
        margin-left: 5px;
        margin-top: 300px;
    }

    footer{
        width: 80%;
        margin-left:15px;
        font-size: 10px;
        margin-top: 50px;
        
    }

 .brand p{
    display: n;
 }
 .brand-details{
    display: none;
 }
 .button{
    display: none;
 }



}    


